<%- include('includes/head.ejs')%>
  <body>
    <div class="container">
      <%- include('includes/navigation.ejs')%>
      <main class="main-content">
        <h2 class="text-center">ข้อมูลที่บันทึกไว้</h2>
        <div id="data-container" class="data-container">
            <% if (dataList.length > 0) { %>
                <% dataList.forEach(data => {%>
                    <div class="data-card">
                        <p><strong>ชื่อ: </strong><%=data.name%></p>
                        <p><strong>อีเมล: </strong><%=data.email%></p>
                        <p><strong>บันทึกเมื่อ</strong><%=data.date%></p>
                    </div>
            <% })}else{ %>
                <p>ยังไม่มีข้อมูล</p>
                <%}%>
        </div>
      </main>
      <a href="/" class="back-link">กลับหน้าหลัก</a>
    </div>
  <%- include('includes/end.ejs')%>
